<div class="container">
  <div class="alert alert-{{message.status}}" *ngIf="message">{{ message.message }}</div>
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" #email id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" #password id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="password" #passwordConfirmation id="inputPassword" class="form-control" placeholder="Password Confirmation" required>
            <button (click)="register(email.value, password.value, passwordConfirmation.value)" class="btn btn-lg btn-primary btn-block btn-signin">Sign up</button>
        </form>
    </div>
</div>
